Repository parkchoiscrumproject/scrum, pull requests merged in 2024-02, with the labels that each got.

#93 MERGE feature/backend/userV5 to backend
  backend/build.gradle
  backend/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
  backend/src/main/java/com/parkchoi/scrum/domain/exception/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/parkchoi/scrum/domain/team/controller/TeamController.java
  backend/src/main/java/com/parkchoi/scrum/domain/team/entity/InviteTeamList.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/controller/UserController.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/dto/request/StatusMessageRequestDTO.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/entity/User.java
  backend/src/test/java/com/parkchoi/scrum/domain/user/controller/UserControllerTest.java
  backend/src/test/java/com/parkchoi/scrum/domain/user/service/UserServiceTest.java
Labels: backend

#95 MERGE feature/backend/userV5 to backend
  backend/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
Labels: backend

#97 MERGE feature/backend/userV5 to backend
  backend/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
Labels: backend

#99 MERGE feature/backend/userV5 to backend
  backend/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/controller/UserController.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/dto/request/StatusMessageRequestDTO.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/dto/request/UserInfoUpdateRequestDTO.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/dto/response/UserInviteInfoResponseDTO.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/dto/response/UserLoginInfoResponseDTO.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/dto/response/UserNicknameUpdateResponseDTO.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/dto/response/UserProfileImageUpdateResponseDTO.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/dto/response/UserStatusMessageUpdateResponseDTO.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/service/UserService.java
  backend/src/main/java/com/parkchoi/scrum/util/api/ApiResponse.java
  backend/src/main/java/com/parkchoi/scrum/util/jwt/JwtFilter.java
  backend/src/main/java/com/parkchoi/scrum/util/jwt/JwtUtil.java
Labels: backend

#100 MERGE feature/backend/scrumV5 to backend
  backend/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
  backend/src/main/java/com/parkchoi/scrum/domain/scrum/controller/ScrumController.java
  backend/src/main/java/com/parkchoi/scrum/domain/scrum/dto/request/CreateScrumRequestDTO.java
  backend/src/main/java/com/parkchoi/scrum/domain/scrum/dto/response/ScrumRoomDTO.java
  backend/src/main/java/com/parkchoi/scrum/domain/scrum/entity/Scrum.java
  backend/src/main/java/com/parkchoi/scrum/domain/scrum/entity/ScrumInfo.java
  backend/src/main/java/com/parkchoi/scrum/domain/scrum/entity/ScrumParticipant.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/controller/UserController.java
Labels: backend

#101 MERGE feature/backend/userV5 to backend
  backend/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
  backend/src/main/java/com/parkchoi/scrum/domain/exception/controller/GlobalExceptionHandler.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/controller/UserController.java
  backend/src/main/java/com/parkchoi/scrum/domain/user/service/UserService.java
  backend/src/main/java/com/parkchoi/scrum/util/api/ApiResponse.java
Labels: backend

#105 MERGE feature/backend/webRTCV1 to backend
  backend/.idea/gradle.xml
  backend/.idea/misc.xml
  backend/.idea/vcs.xml
  backend/.idea/workspace.xml
  backend/api/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
Labels: backend

#108 MERGE feature/backend/webRTCV1 to backend
  backend/websocket/.gitignore
  backend/websocket/Dockerfile
  backend/websocket/build.gradle
  backend/websocket/gradle/wrapper/gradle-wrapper.jar
  backend/websocket/gradle/wrapper/gradle-wrapper.properties
  backend/websocket/gradlew
  backend/websocket/gradlew.bat
  backend/websocket/settings.gradle
  backend/websocket/src/main/java/com/parkchoi/webrtc/WebrtcApplication.java
  backend/websocket/src/main/java/com/parkchoi/webrtc/config/WebSocketConfig.java
  backend/websocket/src/main/java/com/parkchoi/webrtc/handler/WebSocketHandler.java
  backend/websocket/src/main/resources/application.properties
  backend/websocket/src/test/java/com/parkchoi/webrtc/WebrtcApplicationTests.java
Labels: websocket

#115 Merge Feature/backend/teamV5 to backend
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/entity/Team.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/repository/TeamRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/service/TeamService.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/team/repository/teamRepositoryTest.java
Labels: api

#117 Merge feature/backend/teamV5 to backend
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/repository/TeamRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/service/TeamService.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/team/repository/teamRepositoryTest.java
Labels: api

#118 MERGA Feature/backend/scrumV6 to backend
  backend/api/src/main/java/com/parkchoi/scrum/config/CorsConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/config/RedisConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/controller/ScrumController.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/entity/Scrum.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/entity/ScrumInfo.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumInfoRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/ScrumService.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/entity/Team.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/dto/response/UserInviteInfoResponseDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/util/jwt/JwtFilter.java
  backend/api/src/main/java/com/parkchoi/scrum/util/jwt/JwtUtil.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepositoryTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/service/ScrumServiceTest.java
  backend/websocket/.gitignore
  backend/websocket/Dockerfile
  backend/websocket/build.gradle
  backend/websocket/gradle/wrapper/gradle-wrapper.jar
  backend/websocket/gradle/wrapper/gradle-wrapper.properties
  backend/websocket/gradlew
  backend/websocket/gradlew.bat
  backend/websocket/settings.gradle
  backend/websocket/src/main/java/com/parkchoi/websocket/WebsocketApplication.java
  backend/websocket/src/main/java/com/parkchoi/websocket/config/WebSocketConfig.java
  backend/websocket/src/main/java/com/parkchoi/websocket/handler/WebSocketHandler.java
  backend/websocket/src/main/resources/application.properties
  backend/websocket/src/test/java/com/parkchoi/websocket/WebsocketApplicationTests.java
Labels: api

#120 MERGE feature/backend/websocketV1 to websocket
  backend/api/src/main/java/com/parkchoi/scrum/config/CorsConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/config/RedisConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/exception/controller/GlobalExceptionHandler.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/controller/ScrumController.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/dto/request/CreateScrumRequestDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/entity/Scrum.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/entity/ScrumInfo.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumInfoRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/ScrumService.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/entity/Team.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/repository/TeamRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/service/TeamService.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/dto/response/UserInviteInfoResponseDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/util/jwt/JwtFilter.java
  backend/api/src/main/java/com/parkchoi/scrum/util/jwt/JwtUtil.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepositoryTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/service/ScrumServiceTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/team/repository/teamRepositoryTest.java
  backend/websocket/src/main/java/com/parkchoi/websocket/config/WebSocketConfig.java
Labels: websocket

#119 MERGE feature/backend/scrumV6 to backend
  backend/api/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/exception/controller/GlobalExceptionHandler.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/dto/request/CreateScrumRequestDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/entity/Scrum.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/ScrumService.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepositoryTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/service/ScrumServiceTest.java
Labels: api

#122 MERGE feature/backend/scrumV6 to backend
  backend/api/src/main/java/com/parkchoi/scrum/domain/exception/controller/GlobalExceptionHandler.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/dto/request/CreateScrumRequestDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumParticipantRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/ScrumService.java
  backend/api/src/main/java/com/parkchoi/scrum/util/GetUserId.java
Labels: api

#123 MERGE feature/backend/userV6 to backend
  backend/api/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/log/entity/UserLog.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/controller/UserController.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/service/UserService.java
Labels: api

#125 MERGE feature/backend/scrumV7 to backend
  backend/api/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/controller/ScrumController.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/dto/response/ScrumPageResponseDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/ScrumService.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/repository/UserRepository.java
Labels: api

#126 EMRGE feature/backend/scrumV7 to backend
  backend/api/build.gradle
  backend/api/src/main/java/com/parkchoi/scrum/config/QuerydslConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/controller/ScrumController.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/dto/request/ScrumSearchCondition.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepositoryCustom.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepositoryImpl.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/ScrumService.java
Labels: api

#127 Merge Feature/backend/teamV6 to backend
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/dto/request/CreateTeamRequestDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/dto/request/TeamInfoDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/repository/TeamRepository.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/service/ScrumServiceTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/team/repository/teamRepositoryTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/team/service/TeamServiceTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/user/controller/UserControllerTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/user/service/UserServiceTest.java
Labels: api

#128 MERGE feature/backend/scrumV7 to backend
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/controller/ScrumController.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/dto/request/ScrumSearchCondition.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/ScrumParticipantRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/scrum/ScrumRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/scrum/ScrumRepositoryCustom.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/scrum/ScrumRepositoryImpl.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/scrumparticipant/ScrumParticipantCustom.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/scrumparticipant/ScrumParticipantRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/scrumparticipant/ScrumParticipantRepositoryImpl.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/ScrumService.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/impl/ScrumServiceImpl.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepositoryTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/service/ScrumServiceImplTest.java
Labels: api

#130 Merge Feature/backend/teamV8 to backend
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepositoryTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/team/service/TeamServiceTest.java
Labels: api

#131 MERGE feature/backend/userV7 to backend
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/entity/Scrum.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/entity/ScrumParticipant.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/impl/ScrumServiceImpl.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/entity/InviteTeamList.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/entity/Team.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/service/TeamService.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/entity/User.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/repository/user/UserRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/repository/user/UserRepositoryCustom.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/repository/user/UserRepositoryImpl.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/service/UserService.java
  backend/api/src/main/java/com/parkchoi/scrum/util/RandomNickname.java
  backend/api/src/main/java/com/parkchoi/scrum/util/api/BaseTimeEntity.java
  backend/api/src/main/java/com/parkchoi/scrum/util/oauth/PrincipalOAuth2UserService.java
  backend/api/src/main/java/com/parkchoi/scrum/util/oauth/SuccessHandler.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepositoryTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/service/ScrumServiceImplTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/team/repository/teamRepositoryTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/team/service/TeamServiceTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/user/repository/UserRepositoryTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/user/service/UserServiceTest.java
Labels: api

#132 MERGE feature/backend/scrumV7 to backend
  backend/api/src/main/java/com/parkchoi/scrum/config/PasswordEncoderConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/dto/request/CreateScrumRequestDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/dto/response/ScrumRoomDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/impl/ScrumServiceImpl.java
  backend/api/src/main/java/com/parkchoi/scrum/util/oauth/PrincipalOAuth2UserService.java
  backend/api/src/main/java/com/parkchoi/scrum/util/oauth/SuccessHandler.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/config/TestConfig.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/repository/ScrumRepositoryTest.java
Labels: api

#133 MERGE feature/backend/userV7 to backend
  backend/api/src/main/java/com/parkchoi/scrum/domain/exception/exception/UserException.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/exception/handler/GlobalExceptionHandler.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/exception/info/UserExceptionInfo.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/log/entity/UserNicknameLog.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/log/entity/UserProfileImageLog.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/log/entity/UserStatusMessageLog.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/log/repository/UserNicknameLogRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/log/repository/UserProfileImageLogRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/log/repository/UserStatusMessageLogRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/controller/UserController.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/dto/response/UserInviteInfoResponseDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/dto/response/UserLoginInfoResponseDTO.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/entity/User.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/repository/user/UserRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/service/UserService.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/service/impl/UserServiceImpl.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/Crypto.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/Decryptor.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/Encryptor.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/exception/CryptoException.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/exception/DecryptionException.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/exception/EncryptionException.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/properties/EncryptionProperties.java
  backend/api/src/main/java/com/parkchoi/scrum/util/jwt/JwtFilter.java
  backend/api/src/main/java/com/parkchoi/scrum/util/oauth/KakaoUserInfo.java
  backend/api/src/main/java/com/parkchoi/scrum/util/oauth/PrincipalOAuth2UserService.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/user/controller/UserControllerTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/user/service/UserServiceImplTest.java
Labels: api

#134 MERGE feature/backend/scrumV7 to backend
  backend/api/src/main/java/com/parkchoi/scrum/domain/exception/exception/ScrumException.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/exception/handler/GlobalExceptionHandler.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/exception/info/ScrumExceptionInfo.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/exception/info/UserExceptionInfo.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/log/entity/UserLoginLog.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/log/entity/UserStatusMessageLog.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/log/repository/UserLoginLogRepository.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/controller/ScrumController.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/exception/AlreadyScrumEndException.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/exception/AlreadyScrumEnterException.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/exception/AlreadyScrumRemoveException.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/exception/AlreadyScrumStartException.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/exception/FailCreateScrumException.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/exception/MaxMemberScrumException.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/exception/NotScrumLeaderException.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/exception/NotStartScrumException.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/exception/ScrumNotFoundException.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/ScrumService.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/impl/ScrumServiceImpl.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/controller/TeamController.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/service/TeamService.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/controller/UserController.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/service/UserService.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/service/impl/UserServiceImpl.java
  backend/api/src/main/java/com/parkchoi/scrum/util/SecurityContext.java
  backend/api/src/main/java/com/parkchoi/scrum/util/api/ApiResponse.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/Crypto.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/Decryptor.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/Encryptor.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/exception/CryptoException.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/exception/DecryptionException.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/exception/EncryptionException.java
  backend/api/src/main/java/com/parkchoi/scrum/util/encrypt/properties/EncryptionProperties.java
  backend/api/src/main/java/com/parkchoi/scrum/util/jwt/JwtFilter.java
  backend/api/src/main/java/com/parkchoi/scrum/util/oauth/PrincipalOAuth2UserService.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/scrum/service/ScrumServiceImplTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/team/service/TeamServiceTest.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/user/service/UserServiceImplTest.java
Labels: api

#135 Merge feature/backend/teamV8 to backend
  backend/api/build.gradle
  backend/api/src/main/java/com/parkchoi/scrum/domain/team/service/TeamService.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/team/service/TeamServiceTest.java
Labels: api

#136 MERGE feature/backend/scrumV7 to backend
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/repository/scrum/ScrumRepositoryImpl.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/scrum/service/impl/ScrumServiceImpl.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/controller/UserController.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/entity/User.java
  backend/api/src/main/java/com/parkchoi/scrum/util/jwt/JwtFilter.java
  backend/api/src/test/java/com/parkchoi/scrum/domain/user/service/UserServiceImplTest.java
Labels: api

#137 MERGE feature/backend/scrumV7 to backend
  backend/api/src/main/java/com/parkchoi/scrum/config/SecurityConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/config/SpringDocConfig.java
  backend/api/src/main/java/com/parkchoi/scrum/domain/user/entity/User.java
  backend/api/src/main/java/com/parkchoi/scrum/util/filter/RequestLogFilter.java
  backend/api/src/main/java/com/parkchoi/scrum/util/jwt/JwtFilter.java
  backend/api/src/main/java/com/parkchoi/scrum/util/oauth/SuccessHandler.java
Labels: api

#139 MERGE feature/backend/scrumV7 to backend
  backend/api/src/main/java/com/parkchoi/scrum/util/oauth/SuccessHandler.java
Labels: api
